$dark-color: #272822;
$highlight-1: #F92672;
$highlight-2: #66D9EF;
$highlight-3: #A6E22E;
$highlight-4: #FD971F;


$form-border-color: #fff;
$form-active-background-color: grey;

$code-spacing: 20px;
$code-background: $dark-color;
$code-color: #fff;